body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper {
  background: linear-gradient(to right, #f57f17 15%, #ffff00 30%, #00e676 45%, #76ff03 60%, #00b0ff 75%, #512da8 90%);
}

.h300 {
  height: 300px;
}

.card_row {
  display: flex;
  flex-wrap: wrap;
}

.card_row>.col {
  display: flex;
}

.card {
  padding-bottom: 30px;
}

